
{% extends 'base.html.twig' %}

{% block title %}Venta {% endblock %}

{% block body %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 

<div class="example-wrapper" >

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <a  onclick="return confirm('Seguro desea eliminar la venta ? No se puede deshacer.')" href="{{ path('eliminar_venta',{id: id} ) }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar la venta"> <i class="fas fa-trash"></i> Eliminar la venta  </a>
        </div>  
    </div>
    
    <div class="row pt-3">
        <div class="col-lg-12">
            <div class="card ">
                    <div class="card-header">
                        <h5 class="card-title">Editar venta</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                
                                    
                                        {{ form_start(form, {attr: {class: 'my-form-class'} }) }} 
                                        {{ form_row(form.nombre)   }}
                                        {# {{ form_row(form.nombre, {attr: { value : '03/03/2020' } })   }} #}
                                        {{ form_row(form.fecha, {attr: { value :  "now"|date("Y-m-d") } })  }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.telefono) }} 
                                        {{ form_row(form.submit) }}
                                        {{ form_end(form) }}
                    
                                
                            </div>
                            <div class="col-md-9"> 
                                
                                <div class="container">
                                    <label  class="required font-weight-bold">Agregar producto a la venta</label>
                                    <div id="buscador-productos">


                                        {{ form_start(form_producto_venta, { attr: { class: ' form-inline' } } ) }}
                                        
                                        
                                        {{ form_row(form_producto_venta.precio_costo) }}
                                        
                                        <div class="input-group mb-2 mr-sm-2">
                                            <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            </div>
                                            {{ form_row(form_producto_venta.venta_id) }}

                                        </div>
                                        
                                        <div class="input-group mb-2 mr-sm-2">
                                            <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fab fa-product-hunt"></i>
                                            </div>
                                            </div>
                                            {{ form_row(form_producto_venta.producto_id) }}
                                            <div id="stock_procuto">
                                                
                                            </div>
                                        </div>
                                        <div class="input-group mb-1 mr-sm-1">
                                            <div class="input-group-prepend">
                                            <div class="input-group-text">#</div>
                                            </div>
                                            {{ form_row(form_producto_venta.cantidad) }}
                                         
                                            
                                          
                                        </div>
                                        {{ form_row(form_producto_venta.submit) }} 
                                    
                                        {{ form_end(form_producto_venta) }}

                                    </div>
                                    <div >

                                        {% if productos %} 
                                        <table class="table table-sm table-striped tabla-producto">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Producto</th>
                                                    <th scope="col" class="text-center"><i class="fas fa-hashtag"  data-toggle="tooltip" data-placement="top" title="Cantidad comprada" ></i></th>
                                                    <th scope="col" class="text-center"><i class="fas fa-dollar-sign" data-toggle="tooltip" data-placement="top" title="Precio venta" aria-hidden="true"></i></th>
                                                    <th class="text-center col-md-1"><i class="fas fa-dollar-sign" data-toggle="tooltip" data-placement="top" title="Cantidad x Precio venta"></i> * <i class="fas fa-hashtag"  data-toggle="tooltip" data-placement="top" title="Cantidad comprada" ></i> </th>
                                                    <th class="text-center col-md-1"><i class="fas fa-coins" data-toggle="tooltip" data-placement="top" title="Precio costo"></i> </th>
                                                    <th class="text-center col-md-1"><i class="fas fa-hand-holding-usd" data-toggle="tooltip" data-placement="top" title="Ganancia $"></i></th>
                                                    <th class="text-center col-md-1"><i class="fas fa-percentage" data-toggle="tooltip" data-placement="top" title="Ganancia %"></i></th>
                                                    <th scope="col" class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for producto in productos %}
                                                    <tr>
                                                        <td>{{ producto.getProductoId().getnombre()  }}</td>
                                                        <td class="text-center">{{  producto.getCantidad()  }}</td>
                                                        <td class="text-center">{{  producto.getPrecioVenta()  }}</td>
                                                        <td class="text-center bk-grey"><span class="unidad">$</span> {{ producto.getPrecioVenta() *  producto.getCantidad()   }}</td>
                                                        <td class="text-center"><span class="unidad">$</span> {{ producto.getPrecioCosto() }}</td> 
                                                        <td class="text-center"><span class="unidad">$</span> {{ producto.getPrecioVenta() - producto.getPrecioCosto()   }}</td>
                                                        <td class="text-center">{{ (( producto.getPrecioVenta() - producto.getPrecioCosto() ) * 100 / producto.getPrecioCosto()) |round(2, 'floor') }}%</td>
                                                        <td class="text-center">
                                                            <a onclick="return confirm('Seguro desea eliminar el producto de la venta ? No se puede deshacer.')" href="{{ path('v_eliminar_producto_venta',{id_producto: producto.getProductoId().getId(), id_venta: id } ) }}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar el producto"> <i class="fas fa-trash" aria-hidden="true"></i>  </a>                                </td>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                    <tr class="total">
                                                        <th class="text-left">
                                                            Total
                                                        </th>
                                                        <td colspan="2"></td>
                                                        <th class="text-center">
                                                            <span class="unidad">$</span> {{ venta.getTotalVenta() }}
                                                        </th>
                                                        <td class="text-center"> <span class="unidad">$</span> {{ venta.getTotalCostoVenta() }} </td>
                                                        <td class="text-center"> <span class="unidad">$</span> {{ venta.getTotalVenta() - venta.getTotalCostoVenta() }} </td>
                                                        <td class="text-center"> {{ ( ( venta.getTotalVenta() - venta.getTotalCostoVenta() ) * 100 / venta.getTotalCostoVenta()) |round(2, 'floor')  }}% </td>
                                                        <td  ></td>
                                                    <tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>     
                                <div>
                            
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} 


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}">  </script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}">  </script>
    <script type="text/javascript" src="{{ asset('js/venta.js') }}">  </script>
    <script type="text/javascript" src="{{ asset('js/editar-venta.js') }}">  </script>
     
         <script type="text/javascript">
            $(document).ready(function(){
                $('#form_venta_producto_producto_id').combobox();
            });
        </script>

 {% endblock %} 
 