{% extends 'base.html.twig' %}

{% block title %}Venta {% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-4">
    {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
    <div class="col-lg-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.getProductoId().getnombre()  }}</td>
                        <td>{{  producto.getCantidad()  }}</td>
                        <td>
                            <a href="{{ path('v_eliminar_producto_venta',{id_producto: producto.getProductoId().getId(), id_venta: id } ) }}" class="btn btn-danger"> Eliminar </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>
    <div class="col-lg-4">
        <form>
            <label>Buscar producto</label>
            <input name="buscar_producto" id="buscar_producto" 
        </form>
        {{ form_start(form_producto_venta, {attr: {class: 'my-form-class'} }) }}
        {{ form_widget(form_producto_venta) }}
        {{ form_end(form_producto_venta) }}

        
        <div class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" id="search" class="form-control" placeholder="Suche...">
            </div>
            <!-- /input-group -->
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"> Entities<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" id="entitiesNav">
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- jQuery is necessary -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 

<script type="text/javascript">
    jQuery(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            console.log("keyup");
            var minlength = 3;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();

                console.log("mayo a 3. Value:"+value);
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('ajax_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        console.log("success"+msg);
                        //we need to check if the value is the same
                        if (value==$(that).val()) {
                            var result = JSON.parse(msg);
                            console.log(result);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'entities') {
                                        if (id != 'error') {
                                            entitySelector.append('<li><a href="/daten/'+id+'">'+value+'</a></li>');
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                     }
                });
            }
        });
    });
</script>

{% endblock %}
