{% extends 'base.html.twig' %}

{% block title %}Crear un nuevo producto{% endblock %}
 

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block money_widget %}
    <div class="money_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block body %}

<div class="alert alert-info" role="alert">
    <h5><i class="fas fa-plus"></i> &nbsp;  Crear un nuevo producto</h5>
</div>

<div class="col-md-8 offset-md-3 ">


{{ form_start(form, {attr: {class: 'my-form-class'} }) }}
{{ form_row(form.nombre) }}
{{ form_row(form.codigo) }}
{{ form_row(form.descripcion) }}
{{ form_row(form.precio_costo) }}
{{ form_row(form.precio_venta) }}
{{ form_row(form.stock) }}
{{ form_row(form.submit) }}
{{ form_end(form) }}
<div>

{% endblock %}
