{% extends 'base.html.twig' %}

{% block title %}Editar un producto{% endblock %}

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block money_widget %}
    <div class="money_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block body %}
 
<div class="example-wrapper" >

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('v_crear_producto') }}" class="btn btn-danger btn-s"> <i class="fas fa-remove"></i> Eliminar producto </a> 

        </div>  
    </div>

    <div class="row" style="padding-top:20px">
        <div class="col-lg-12">
            <div class="card ">
        <div class="card-header">
            <h5 class="card-title">Editar producto</h5>
        </div>
        <div class="card-body">
            {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.codigo) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.precio_costo) }}
            {{ form_row(form.precio_venta) }}
            {{ form_row(form.stock) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
        </div>  
    </div>

    
</div>
            {# {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
            {{ form_widget(form) }}
            {{ form_end(form) }} #}

{% endblock %}
