{% extends 'base-admin.html.twig' %}

{% block title %}Crear un nuevo producto{% endblock %}
 

{% form_theme form _self %}

{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block money_widget %}
    <div class="money_widget">
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}
 

{% block body %}

<div class="example-wrapper" >

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="card ">
        <div class="card-header">
            <h5 class="card-title">Crear producto</h5>
        </div>
        <div class="card-body">
            {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
            <div class="row">
                <div class="col-lg-8">
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.categoria) }}
                    {{ form_row(form.destacado_home) }}
                    {{ form_row(form.codigo) }}
                    {{ form_row(form.descripcion) }}
                    {{ form_row(form.precio_costo) }}
                    {{ form_row(form.precio_venta) }}
                    {{ form_row(form.stock) }}
                    {{ form_row(form.imagen) }}
                </div>
                <div class="col-lg-4">
                    {{ form_row(form.submit) }} 
                    <a class='btn btn-danger btn-block mt-3' onclick="window.history.back()" > Cancelar </a>
                    
                </div>
                {{ form_end(form) }}
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock %}
