{% extends 'base-admin.html.twig' %}

{% block title %}Hello VentaController!{% endblock %}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css') }}">
{% endblock %}

{% block body %}
 
<style>
    .jumbotron-light {

        background-color: #b9b9b900;
        margin: 20px 0px;

    }
</style>

<div class="example-wrapper" >

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
     
        <div class="row">
            <div class="col-lg-9">
                <a href="{{ path('crear_venta') }}" class="btn btn-info btn-s"> <i class="fas fa-plus"></i> Cargar venta </a> 
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 ">
                <div class="jumbotron jumbotron-light">
                    
                    {% if ventas %}
                    <div class="table-responsive">
                        <table class="table table-stripped " id="ventas">
                            <thead>
                                <tr> 
                                    <th><i class="fas fa-calendar-alt"></i></th>
                                    <th>Informacion</th> 
                                    <th></th> 
                                    <th style="width:40px"></th> 
                                </tr>
                            </thead>
                            <tbody>
                        
                            {% for venta in ventas %}
                                <tr> 
                                    <td>{{ venta.getFecha()|date('Y-m-d') }} </td> 
                                    <td class="text-left">
                                        
                                        <div class="item-user">
                                            <i class="fas fa-user"></i> {{ venta.getNombre() }}
                                        </div>
                                        <div class="item-user">
                                            <i class="fas fa-at"></i> {{ venta.getEmail() }}
                                        </div>
                                        <div class="item-user">
                                            <i class="fas fa-phone"></i> {{ venta.getTelefono() }}
                                        </div>
                                    </td>  
                                    <td class="tabla-productos"> 
                                        <table class="table table-stripped" id="productos">
                                            
                                            <tr>  
                                                <th class="text-left border-0 col-md-2"  >Productos</th>
                                                <th class="border-0 text-center col-md-1"><i class="fas fa-hashtag"  data-toggle="tooltip" data-placement="top" title="Cantidad comprada" ></i> </th>
                                                <th class="border-0 text-center col-md-1"><i class="fas fa-dollar-sign" data-toggle="tooltip" data-placement="top" title="Precio venta"></i></th>
                                                <th class="border-0 text-center col-md-1"><i class="fas fa-dollar-sign" data-toggle="tooltip" data-placement="top" title="Cantidad x Precio venta"></i> * <i class="fas fa-hashtag"  data-toggle="tooltip" data-placement="top" title="Cantidad comprada" ></i> </th>
                                                <th class="border-0 text-center col-md-1"><i class="fas fa-coins" data-toggle="tooltip" data-placement="top" title="Precio costo"></i> </th>
                                                <th class="border-0 text-center col-md-1"><i class="fas fa-hand-holding-usd" data-toggle="tooltip" data-placement="top" title="Ganancia $"></i></th>
                                                <th class="border-0 text-center col-md-1"><i class="fas fa-percentage" data-toggle="tooltip" data-placement="top" title="Ganancia %"></i></th>
                                            </tr>
                                        {% for prod in venta.getProductosVenta() %}

                                            {% set producto = prod.getProductoId() %}
                                            <tr class="text-left">  
                                                <td class="text-left">{{ producto.getNombre() }}</td>
                                                <td class="text-center">{{ prod.getCantidad() }}</td>
                                                <td class="text-center"><span class="unidad">$</span> {{ prod.getPrecioVenta() }}</td>
                                                <td class="text-center bk-grey"><span class="unidad">$</span> {{ prod.getPrecioVenta() *  prod.getCantidad()   }}</td>
                                                <td class="text-center"><span class="unidad">$</span> {{ prod.getPrecioCosto() }}</td> 
                                                <td class="text-center"><span class="unidad">$</span> {{ producto.getPrecioVenta() - producto.getPrecioCosto()   }}</td>
                                                <td class="text-center">{{ (( producto.getPrecioVenta() - producto.getPrecioCosto() ) * 100 / producto.getPrecioCosto()) |round(2, 'floor') }}%</td>
                                            </tr>
                                           
                                        {% endfor %}
                                            <tr class="bk-grey">
                                                <th class="text-left bk-grey">
                                                    Total
                                                </th>
                                                <td colspan="2" class="bk-grey"></td>
                                                <th class="text-center bk-grey">
                                                    <span class="unidad">$</span> {{ venta.getTotalVenta() }}
                                                </th>
                                                <td colspan="3" class="bk-grey"></td>
                                            <tr>
                                        </table>
                                        
                                    </td> 
                                    <td> 
                                        <a href="{{ path('editar_venta',{id: venta.id} ) }}" class="btn btn-success">  <i class="fas fa-edit"></i> </a> 
                                        <a onclick="return confirm('Seguro desea eliminar la venta ? No se puede deshacer.')" href="{{ path('eliminar_venta',{id: venta.id} ) }}" class="btn btn-danger"> <i class="fas fa-trash"></i>  </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                
                </div>    
            </div>
             
        </div>

</div> 

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}">  </script>
    <script type="text/javascript" src="{{ asset('js/venta.js') }}">  </script>
{% endblock %} 