<!doctype html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Cosmeticos{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        {% endblock %}
        <script src="https://kit.fontawesome.com/4273774a54.js" crossorigin="anonymous"></script>
     </head>
    <body>
       
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Make Up RooM </a>
   
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/home') ? 'active' : '' }} " href='{{ path('producto_controlller') }}' >Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/productos') ? 'active' : '' }} " href="{{ path('producto_controlller') }}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/ventas') ? 'active' : '' }} " href="{{ path('ventas') }}">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/reportes') ? 'active' : '' }} " href="{{ path('ventas') }}">Reportes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/salir') ? 'active' : '' }} " href="#">Salir</a>
                        </li>
                    </ul>
                </div>
                </nav>


        {% block body %}

        {% endblock %}
        {% block javascripts %}
        
            
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}">  </script>
        {% endblock %}
        
        </div>
        
 
        {#
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetable-2@1.7.5/dist/vuetable-2-full.js"></script>
        
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
        <script src="https://unpkg.com/vuetable-2@1.6.0"></script>
    

            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://rawgit.com/matfish2/vue-tables-2/master/dist/vue-tables-2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        

        <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>#}
        
    </body>
</html>
