<!doctype html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Cosmeticos{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/global.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-combobox.css') }}">
        {% endblock %}
        {# <script src="https://kit.fontawesome.com/4273774a54.js" crossorigin="anonymous"></script> #}
     </head>
    <body>
       
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Make up room </a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/') ? 'active' : '' }} " href='{{ path('home') }}' >Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo matches '{^/productos*}') ? 'active' : '' }} " href="{{ path('producto_controlller') }}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo matches '{^/ventas*}') ? 'active' : '' }} " href="{{ path('ventas') }}">Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/reporte') ? 'active' : '' }} " href="{{ path('reporte') }}">Reportes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ (app.request.pathinfo == '/salir') ? 'active' : '' }} " href="#">Salir</a>
                        </li>
                    </ul>
                </div>
            </nav>

            {% block body %}

            {% endblock %}

            {% block javascripts %}
                <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.js') }}">  </script>
                <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}">  </script>
                <script type="text/javascript" src="{{ asset('js/kit.fontawesome.js') }}">  </script>
                <script type="text/javascript" src="{{ asset('js/bootstrap-combobox.js') }}">  </script>
            {% endblock %}
        
        </div>
        
    </body>
</html>
